<!DOCTYPE html>
<html>
<head><title>{{ service }} list</title></head>
<body>
<h1>{{ service }} list</h1>
<a href="/{{ service }}/create">Create new {{ service[:-1] }}</a>
<ul>
  {% for item in items %}
    <li><a href="/{{ service }}/{{ item.id }}">{{ item.name if item.name else item.id }}</a></li>
  {% endfor %}
</ul>

<hr>
<!-- Liens vers les autres vues -->
<a href="/">Accueil</a> |
{% for s in services %}
  <a href="/{{ s }}/">{{ s }} list</a> |
  <a href="/{{ s }}/create">Créer {{ s[:-1] }}</a> |
{% endfor %}
</body>
</html>
